* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fa-twitter {
  color: purple;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}
.fa-instagram {
  color: red;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}
.fa-facebook {
  color: blue;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}
.fa-github {
  color: black;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}
.text {
  font-size: 0.5em;
  font-family: sans-serif;
  margin: 0px 0px 20px 20px;
  font-weight: bold;
}
.text1 {
  font-size: 0.4em;
  font-family: impact;
  margin: -15px 0px 20px 20px;
  color: blue;
}
body{
  background-image: url(../images/222.jpg);
  background-repeat: no-repeat;
}
